.navbar {
  padding: 5px 30px;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
.navbar .logo {
  padding: 20px;
  flex: 0 0 25%;
  position: absolute;
  padding-bottom: 25px;
  border-radius: 5px;
  top: 0;
  z-index: 999;
  background-color: white;
  align-items: center;
  margin: 0 80px;
}
@media (max-width: 768px) {
  .navbar .logo {
    text-align: center;
    padding-left: 0 !important;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .navbar .logo {
    padding-left: 25px;
    margin: 0;
  }
}
.navbar .navbar-nav {
  display: flex;
  flex: 0 0 75%;
  justify-content: right;
  padding: 0 15px;
  text-align: center;
}
@media (max-width: 1024px) {
  .navbar .navbar-nav {
    padding: 0;
    flex: 0 0 70%;
  }
}
@media (max-width: 768px) {
  .navbar .navbar-nav {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    display: block;
  }
}
.navbar .navbar-nav ul {
  padding: 0 15px;
  margin: 0;
}
@media (max-width: 1024px) {
  .navbar .navbar-nav ul {
    padding: 10px;
  }
}
.navbar .navbar-nav ul.menu {
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  border: drop-shadow(1px 0px 0px #ffffff);
  border-width: 1px;
  height: 45px;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .navbar .navbar-nav ul {
    padding: 0;
  }
}
.navbar .navbar-nav ul li {
  display: inline;
  margin: 0 10px;
}
@media (max-width: 1024px) {
  .navbar .navbar-nav ul li {
    margin: 0 6px;
  }
}
.navbar .navbar-nav ul li a {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 16px;
  color: #252525;
  font-weight: bold;
  font-family: "Arial";
  text-decoration: none;
}
.navbar .navbar-nav ul li a.active {
  color: #ec4706;
}
.navbar .navbar-nav ul li a:hover {
  color: #ec4706;
}
.navbar .navbar-nav .side-nav {
  padding-top: 15px;
}
@media (max-width: 1024px) {
  .navbar .navbar-nav .side-nav {
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  .navbar .navbar-nav .side-nav {
    align-items: center;
    text-align: center;
  }
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.px-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-4 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.d-flex {
  display: flex !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 50px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.article-section {
  flex: 0 0 60%;
  padding: 0 80px;
  font-family: "Arial";
}
@media (max-width: 1024px) {
  .article-section {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .article-section {
    padding-left: 0;
    padding-right: 0;
  }
}
.article-section .article-content {
  padding: 30px 0;
}
.article-section .article-content h1 {
  font-weight: 500;
  text-transform: uppercase;
}
.article-section .card .card-header {
  color: #ec4706;
  padding: 15px 0;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 18px;
}
.article-section .card .card-body {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
  color: #666666;
  font-family: "Arial";
  padding-top: 0;
}

.main {
  display: flex;
  padding: 30px;
  filter: drop-shadow(0.5px 0.866px 2.5px rgba(0, 0, 0, 0.2));
  background-color: #fdfdfd;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
.main .aside-section {
  flex: 0 0 40%;
}
.main .aside-section .aside-content {
  padding: 30px 0;
}
.main .aside-section .aside-content .news-section {
  padding: 0 30px;
}
.main .aside-section .aside-content .news-section h1 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 16px;
  color: #2e2e2e;
  font-family: "Arial";
  font-weight: 500;
  border: 1px solid #e9e3e3;
  height: 50px;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 100%);
  border: 1px solid #e5e5e5;
}
.main .aside-section .aside-content .news-section .card {
  height: 90px;
  border: 1px solid #e9e3e3;
}
.main .aside-section .aside-content .news-section .card .card-img {
  padding: 10px;
}
.main .aside-section .aside-content .news-section .card .card-title {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 14px;
  color: #ec4706;
  font-family: "Lucida Sans";
  font-weight: 500;
  padding-top: 15px;
}
.main .aside-section .aside-content .news-section .card .card-title .card-body {
  font-size: 11px;
  letter-spacing: 0px;
  line-height: 14px;
  color: #666666;
  font-family: "Lucida Sans";
  padding-top: 5px;
}

.main-content-blog {
  display: flex;
  padding: 15px 110px;
  justify-content: center;
}
@media (max-width: 1024px) {
  .main-content-blog {
    padding: 0;
  }
}
@media (max-width: 570px) {
  .main-content-blog {
    flex-direction: column;
  }
}
.main-content-blog .card {
  flex: 0 0 33%;
}
.main-content-blog .card .main-content-img {
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 100%);
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
}
.main-content-blog .card .main-content-img img {
  width: 100%;
}
@media (max-width: 1024px) {
  .main-content-blog .card .main-content-img {
    padding: 0;
  }
}
.main-content-blog .card .main-content-img .card-body {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 29px;
  color: #343434;
  font-weight: bold;
  font-family: "Arial";
}
.main-content-blog .card .main-content-img .card-body .card-body-icon {
  padding: 5px 7px;
  color: #666666;
  border-radius: 4px;
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 100%);
  border: 1px solid #e5e5e5;
  font-weight: 500;
  cursor: pointer;
}

.carousel {
  display: flex;
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
  width: 100%;
  filter: drop-shadow(0 0 3.5px rgba(0, 0, 0, 0.75));
}
@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
  }
}
.carousel .carousel-item-text {
  padding: 60px 110px;
  flex: 0 0 50%;
}
@media (max-width: 1024px) {
  .carousel .carousel-item-text {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  .carousel .carousel-item-text {
    padding: 80px;
  }
}
.carousel .carousel-item-text h1 {
  font-size: 27px;
  letter-spacing: 0;
  line-height: 29px;
  color: #ffffff;
  font-weight: bold;
  font-family: "nevis";
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
}
@media (max-width: 1024px) {
  .carousel .carousel-item-text h1 {
    font-size: 22px;
  }
}
.carousel .carousel-item-text p {
  font-size: 15px;
  line-height: 17px;
  color: #ffd898;
  font-weight: bold;
  font-family: "nevis";
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
  text-transform: uppercase;
}
.carousel .carousel-item-image {
  padding-top: 20px;
  display: flex;
  flex: 0 0 50%;
  padding-right: 80px;
  justify-content: right;
}
@media (max-width: 1024px) {
  .carousel .carousel-item-image {
    padding-right: 0;
  }
}
.carousel .carousel-item-image .carousel-img {
  height: 100%;
}
@media (max-width: 1024px) {
  .carousel .carousel-item-image .carousel-img {
    width: 100%;
  }
}

.registration {
  display: flex;
  width: 100%;
  filter: drop-shadow(0.5px 0.866px 2.5px rgba(0, 0, 0, 0.2));
  background-color: #fdfdfd;
}
@media (max-width: 768px) {
  .registration {
    flex-direction: column;
  }
}
.registration .content {
  padding: 10px 110px;
  flex: 0 0 50%;
}
@media (max-width: 1024px) {
  .registration .content {
    padding: 0 50px;
  }
}
.registration .content h3 {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #252525;
  font-style: italic;
  font-family: "Georgia";
  font-weight: 500;
}
.registration .btn-reg {
  padding-top: 20px;
  flex: 0 0 50%;
  padding-right: 80px;
  justify-content: right;
  display: flex;
}
@media (max-width: 1024px) {
  .registration .btn-reg {
    padding-right: 0;
  }
}
.registration .btn-reg .signup,
.registration .btn-reg .learnMore {
  cursor: pointer;
  width: 209px;
  height: 42px;
  color: white;
  border-radius: 3px;
  border: none;
  filter: drop-shadow(0.5px 0.866px 0.5px rgba(0, 0, 0, 0.34));
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial";
  margin: 0 10px;
}
@media (max-width: 1024px) {
  .registration .btn-reg .signup,
.registration .btn-reg .learnMore {
    width: 100%;
  }
}
.registration .btn-reg .learnMore {
  background-image: linear-gradient(0deg, #ffae22 0%, #e25500 100%);
}
.registration .btn-reg .signup {
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
}

#footer {
  padding: 0 30px 0 100px;
  display: flex;
  background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
}
@media (max-width: 1024px) {
  #footer {
    padding: 0;
  }
}
@media (max-width: 768px) {
  #footer {
    flex-direction: column;
  }
}
#footer .footer-links {
  flex: 0 0 70%;
}
@media (max-width: 768px) {
  #footer .footer-links {
    text-align: center;
  }
}
#footer .footer-links ul {
  list-style: none;
}
@media (max-width: 1024px) {
  #footer .footer-links ul {
    padding-left: 0;
    padding-right: 0;
  }
}
#footer .footer-links ul li {
  display: inline;
}
#footer .footer-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  line-height: 16px;
  color: #fffffe;
  font-weight: bold;
  font-family: "Arial";
  padding: 0 10px;
}
@media (max-width: 1024px) {
  #footer .footer-links ul li a {
    padding: 0 5px;
  }
}
#footer .copyright {
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Lucida Sans";
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: right;
}
@media (max-width: 768px) {
  #footer .copyright {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
