// Article SCSS
@import "variables";

.main-body-content{
	flex: 0 0 60%;
	padding: 0 80px;
	font-family: $font-family1;


	@media (max-width: 1024px) {
		padding-left: 0;
		padding-right: 0;
	}

	@media (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}

	.main-content {
		padding: 30px 0;

		h1 {
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	.card {
		.card-header {
			color: $primary;
			padding: 15px 0;
			font-size: 16px;
			letter-spacing: 0px;
			line-height: 18px;
		}

		.card-body {
			font-size: 14px;
			letter-spacing: 0px;
			line-height: 18px;
			color: #666666;
			font-family: "Arial";
			padding-top: 0;
		}
	}
}