html {
	scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	font: {
		family: "Arial";
		size: 16px;
		weight: 400;
	}

	margin: 0;
	padding-bottom: 50px;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin clearfix {
    &::after {
        clear: both;
        display: block;
        content: "";
    }
}

@mixin position {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
